p{
    clear: left;
    color:#1ea8aa;
    font-size: 15px;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

body{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    float: left;
    margin: 5px 5px 5px 5px;
}

button{
    margin: 5px 5px 5px 5px; 
}

.button-array{
    border-left: 10px solid #1ea8aa;
    background-color: lightgrey;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
}

.data-collector{
    background-color: #1ea8aa;
    height: 100px;
    border: 3px solid #444444;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
}